.heading{
	width: 50%;
	margin: 30px auto;
	text-align: center;
	color: 	#00BFFF;
	background: #FFF8DC;
	border: 2px solid #00BFFF;
	border-radius: 20px;
}
body{
	background-color: #E0FFFF;
}
form {
	width: 50%; 
	margin: 30px auto; 
	border-radius: 5px; 
	padding: 10px;
	background: #FFF8DC;
	border: 1px solid #00BFFF;
}
form p {
	color: red;
	margin: 0px;
}
.task_input {
	width: 75%;
	height: 15px; 
	padding: 10px;
	border: 2px solid #00BFFF;
}
.add_btn {
	height: 39px;
	background: #FFF8DC;
	color: 	#00BFFF;
	border: 2px solid #00BFFF;
	border-radius: 5px; 
	padding: 5px 20px;
}

.add_btn:hover {
	background-color: #696969; 
}

table {
    width: 50%;
    margin: 30px auto;
    border-collapse: collapse;
}

tr {
	border-bottom: 1px solid #cbcbcb;
}

th {
	font-size: 19px;
	color: #00BFFF;
}

th, td{
	border: none;
    height: 30px;
    padding: 2px;
}

tr:hover {
	background: #E9E9E9;
}

.task {
	text-align: center;
}

.delete{
	text-align: center;
}
.delete a{
	color: white;
	background: #a52a2a;
	padding: 1px 6px;
	border-radius: 3px;
	text-decoration: none;
}